:root {
    --font-color: #4F4F4F;
    --title-color: #4e4e4e;
    --hover-color: #5e5e55;
    --box-bg-color: #b6b4b4;
    --box-shadow: 1rem 1rem 0.5rem;
    --footer-bg-color: #d1d1d1;
    --text-color: #fff;
    --margin-large: 2rem;
    --margin-medium: 1.5rem;
    --margin-small: 1rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--font-color);
}

html {
    scroll-behavior: smooth;
}

section {
    padding-block: 0 4rem;
}

header {
    margin: var(--margin-medium);
    height: 100vh;
}

.svg-container svg {
    width: 100%;
}

.container__menu {
    margin: var(--margin-large) 0 calc(var(--margin-large) * 1.7) 0;
}

#year {
    font-size: 1.2rem;
}

.title {
    color: var(--font-color);
    letter-spacing: 38px;
    font-size: 5.5rem;
}

.menu__details {
    display: inline-block;
}

.menu__details a {
    position: relative;
    text-decoration: none;
    font-size: 1.3rem;
    margin-right: 50px;
}

.menu__details a::before {
    content: '';
    position: absolute;
    bottom: -2px;
    height: 2px;
    width: 100%;
    background: var(--title-color);
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    transform-origin: right;
}

.menu__details a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

a:hover {
    color: var(--hover-color);
}

/* About Section */
.container__about {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 4rem;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 87%;
    border-radius: 15px;
    box-shadow: 2px 2px 9px 2px rgba(0, 0, 0, 0.1);
}

.about-col-2 {
    flex-basis: 65%;
}

.title__about {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid var(--font-color);
}

.p__about {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.tab__titles {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 20px 0 30px;
}

.tab__links {
    font-size: 1.2rem;
    font-weight: 600;
    margin-right: 4rem;
    cursor: pointer;
    position: relative;
    transition: color 0.5s;
}

.tab__links::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: var(--box-bg-color);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: width 0.5s;
}

.tab__links.active_link::after {
    width: 50%;
}

.tab__links:hover {
    color: rgb(126, 120, 111);
}

.tab__contents {
    display: none;
}

.tab__contents.active_content {
    display: block;
}

.tab__contents ul li {
    list-style: none;
    margin: 4px 0;
    font-size: 1.3rem;
}

.tab__contents ul li span {
    font-size: 1.2rem;
    font-weight: bold;
    color: #858484;
}

.check {
    font-size: 0.75rem;
}

.skills {
    font-size: 0.95rem;
    font-weight: bold;
    margin-top: 0.25rem;
    margin-bottom: 0.45rem;
}

@media (max-width: 768px) {
    .container__about {
        padding: 2rem;
    }

    .about-col-1 {
        flex-basis: 100%;
        margin-bottom: 2rem;
    }

    .about-col-1 img {
        width: 100%;
    }

    .about-col-2 {
        flex-basis: 100%;
    }

    .title__about {
        font-size: 1.6rem;
    }

    .p__about {
        font-size: 1.1rem;
    }

    .tab__titles {
        flex-wrap: wrap;
    }

    .tab__links {
        margin-right: 2rem;
    }

    .svg-container svg {
        width: 100%;
    }

    .btn__seta {
        position: fixed;
        bottom: 14px;
        right: 24px;
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }
}

@media screen and (max-width: 1240px) {
    .container__menu .title {
        font-size: 3rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        letter-spacing: 15px;
    }

    .container__about {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .about-col-1 img {
        width: 300px;
    }

    .p__about,
    .tab__links,
    .tab__contents ul li span {
        font-size: 1rem;
    }

    .title {
        font-size: 4.5rem;
    }

    .about-col-2 .title__about {
        font-size: 1.6rem;
    }

    #scrollTo {
        width: 45px;
        height: 45px;
    }
}

/* Projects Section */

.project__title {
    font-size: 2.3rem;
    width: 4.7%;
    border-bottom: 2px solid var(--font-color);
    margin: calc(var(--margin-large) * 3.5) 0 calc(var(--margin-large) * 5) var(--margin-medium);
}

.container__projects {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--margin-large) * 7);
    gap: 10px;
}

.containers {
    width: 30%;
    height: 350px;
    background-color: var(--footer-bg-color);
    border-radius: 15px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
}

.containers video {
    width: 100%;
    height: 112%;
    object-fit: cover;
    border-radius: inherit;
    cursor: pointer;
    transition: transform 0.2s;
}

.containers video:hover {
    transform: scale(1.2);
    z-index: 1;
    opacity: 0.9;
}

.portfolio__description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, hsla(93, 8%, 8%, 0), rgb(26, 22, 26));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: transform 0.5s ease;
    cursor: auto;
    letter-spacing: 1.1px;
}

.containers:hover .portfolio__description {
    transform: translateY(0);
}

.portfolio__description p {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 0.75rem;
}

.center {
    text-align: center;
}

.icone__share {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c5c5c5;
    font-size: 1.8rem;
    transition: color 0.8s;
}

.icone__share:hover {
    color: rgb(237, 243, 239);
    font-weight: 600;
}

.container__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
}

@media screen and (max-width: 480px) {
    .container__menu {
        margin-top: 12rem;
    }

    .container__menu .title {
        font-size: 2rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        letter-spacing: 15px;
    }

    .menu__details a {
        font-size: 1rem;
    }

    .p__about,
    .tab__links,
    .tab__contents ul li span {
        font-size: 0.90rem;
    }

    .title {
        font-size: 4rem;
    }

    .title__about {
        font-size: 0.90rem;
    }

    .container__projects {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .containers {
        width: 280px;
    }

    .project__title {
        font-size: 1.5rem;
    }

    #scrollTo {
        width: 40px;
        height: 40px;
    }

    footer .text__footer,
    .social__media {
        font-size: 1.3rem;
    }
}

/* Footer */
footer {
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5rem 0;
    margin-top: calc(var(--margin-large) * 6.7);
    background-color: var(--footer-bg-color);
}

.text__footer {
    color: var(--font-color);
    letter-spacing: 1px;
    font-size: 1.6rem;
    margin-bottom: 1.4rem;
}

.social__media {
    margin-bottom: 1.4rem;
    color: var(--text-color);
    text-align: center;
}

.svg__footer a:hover svg {
    animation: translateY_icone 0.8s infinite alternate;
    stroke: var(--box-bg-color);
}

.svg__footer a {
    display: inline-block;
}

@keyframes translateY_icone {
    from {
        transform: translateY(0) scale(1);
    }

    to {
        transform: translateY(-8px) scale(1.1);
    }
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

/* Modal */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--bg-color);
    padding: 5rem 6rem;
    box-shadow: 0 6rem rgba(0, 0, 0, 0.3);
    z-index: 1000;
    transition: all 0.5s;
}

.modal__header {
    font-size: 1.3rem;
    margin-bottom: 4.5rem;
    line-height: 1.5;
}

.modal__form {
    margin: 0 3rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 2.5rem;
}

.close--modal {
    font-family: inherit;
    color: inherit;
    position: absolute;
    top: 0.5rem;
    right: 2rem;
    font-size: 4rem;
    cursor: pointer;
    border: none;
    background: none;
}

.link-email {
    font-size: 1.5rem;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.2px);
    z-index: 100;
    transition: all 0.5s;
}

.btn__seta {
    position: fixed;
    bottom: 14px;
    right: 24px;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    border: none;
    cursor: pointer;
    background-color: var(--box-bg-color);
}